body, html {
    overflow: hidden; /* Prevent scrolling */
    user-select: none; /* Prevent text selection */
}

.background-image {
    background-image: url(images/background.gif);
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

/* Creating and centering the container */
.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content {
    width: 450px;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
    border: 1px solid rgb(40, 40, 43, 1.0);
    border-radius: 10px;
    box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.8); /* Add the drop shadow */
    text-align: center;
}

.content::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(24px);
    z-index: -1;
    border-radius: 10px;
}

.profile img {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    border: 1px solid rgb(40, 40, 43, 1.0);
    box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.8);
}

.profile h1 {
    color: white;
    font-family: 'Montserrat-Bold';
    font-size: 18px;
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.75);
    margin-top: 18px;
    margin-bottom: 0px;
}

.profile p {
    color: grey;
    font-family: 'Montserrat-Light';
    font-size: 13px;
    margin-top: 0px;
}

.profile button {
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    border: 1px solid rgb(40, 40, 43, 1.0);
    border-radius: 10px;
    padding: 10px 20px;
    font-family: 'Montserrat-Regular';
    font-size: 14px;
    cursor: pointer;
    margin-top: 20px;
    box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.3); /* Add the drop shadow */
}

.profile button:hover {
    background-color: rgba(40, 40, 40, 0.2);
    box-shadow: 0px 0px 10px 4px rgba(50, 50, 50, 0.3); /* Add the drop shadow */
}

/* Custom Font(s) */
@font-face {
    font-family: 'Montserrat-Light';
    src: url('fonts/Montserrat-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat-Regular';
    src: url('fonts/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url('fonts/Montserrat-Bold.ttf') format('truetype');
}